.svg-arrow {
	background: url("sprite.svg") 0 0 no-repeat;
}

.svg-arrow-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow2 {
	background: url("sprite.svg") 5.194805194805195% 0 no-repeat;
}

.svg-arrow2-dims {
	width: 23px;
	height: 23px;
}

.svg-basket {
	background: url("sprite.svg") 9.060955518945635% 0 no-repeat;
}

.svg-basket-dims {
	width: 32px;
	height: 32px;
}

.svg-battery {
	background: url("sprite.svg") 14.332784184514002% 0 no-repeat;
}

.svg-battery-dims {
	width: 32px;
	height: 32px;
}

.svg-chart {
	background: url("sprite.svg") 19.604612850082372% 0 no-repeat;
}

.svg-chart-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-cart {
	background: url("sprite.svg") 24.394184168012924% 0 no-repeat;
}

.svg-icon-cart-dims {
	width: 20px;
	height: 27px;
}

.svg-icon-coffee {
	background: url("sprite.svg") 28.17133443163097% 0 no-repeat;
}

.svg-icon-coffee-dims {
	width: 32px;
	height: 29.49px;
}

.svg-icon-dish {
	background: url("sprite.svg") 33.44316309719934% 0 no-repeat;
}

.svg-icon-dish-dims {
	width: 32px;
	height: 26.29px;
}

.svg-icon-folder {
	background: url("sprite.svg") 38.71499176276771% 0 no-repeat;
}

.svg-icon-folder-dims {
	width: 32px;
	height: 22.11px;
}

.svg-icon-gear {
	background: url("sprite.svg") 43.98682042833608% 0 no-repeat;
}

.svg-icon-gear-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-head {
	background: url("sprite.svg") 49.20352817272249% 0 no-repeat;
}

.svg-icon-head-dims {
	width: 31.32px;
	height: 32px;
}

.svg-icon-heart {
	background: url("sprite.svg") 54.53047775947282% 0 no-repeat;
}

.svg-icon-heart-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-message {
	background: url("sprite.svg") 59.80230642504119% 0 no-repeat;
}

.svg-icon-message-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-papers {
	background: url("sprite.svg") 65.07413509060956% 0 no-repeat;
}

.svg-icon-papers-dims {
	width: 32px;
	height: 29.22px;
}

.svg-icon-pen {
	background: url("sprite.svg") 70.34596375617792% 0 no-repeat;
}

.svg-icon-pen-dims {
	width: 32px;
	height: 32px;
}

.svg-icon-play {
	background: url("sprite.svg") 75.61779242174629% 0 no-repeat;
}

.svg-icon-play-dims {
	width: 32px;
	height: 30.4px;
}

.svg-icon-search {
	background: url("sprite.svg") 80.22875816993464% 0 no-repeat;
}

.svg-icon-search-dims {
	width: 27px;
	height: 28px;
}

.svg-link {
	background: url("sprite.svg") 84.77905073649754% 0 no-repeat;
}

.svg-link-dims {
	width: 28px;
	height: 28px;
}

.svg-login {
	background: url("sprite.svg") 89.9505766062603% 0 no-repeat;
}

.svg-login-dims {
	width: 32px;
	height: 32px;
}

.svg-lupa {
	background: url("sprite.svg") 94.75409836065573% 0 no-repeat;
}

.svg-lupa-dims {
	width: 29px;
	height: 27px;
}

.svg-waxem-logo {
	background: url("sprite.svg") 100% 0 no-repeat;
}

.svg-waxem-logo-dims {
	width: 32px;
	height: 28.61px;
}

